Aplicaciones/MISEC.TemperaturaServices/MISEC.ISW.Temperatura.UI/App_WebReferences/SensorServices/SensorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtieneSensado">
        <s:complexType />
      </s:element>
      <s:element name="ObtieneSensadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneSensadoResult" type="tns:ArrayOfSensorDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSensorDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SensorDTO" nillable="true" type="tns:SensorDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SensorDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdSensor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SetPoint" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Variable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SetPointEstado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtieneSensadoRango">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Inicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Fin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneSensadoRangoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneSensadoRangoResult" type="tns:ArrayOfSensorDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneSensadoXEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneSensadoXEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneSensadoXEstadoResult" type="tns:ArrayOfSensorEstadoDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSensorEstadoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SensorEstadoDTO" nillable="true" type="tns:SensorEstadoDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SensorEstadoDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdSensor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sensor" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertaSensado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SetPoint" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaSensadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertaSensadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaSensado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSensor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SetPoint" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaSensadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizaSensadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminaSensado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSensor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminaSensadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminaSensadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtieneSensadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneSensado" />
  </wsdl:message>
  <wsdl:message name="ObtieneSensadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneSensadoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtieneSensadoRangoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneSensadoRango" />
  </wsdl:message>
  <wsdl:message name="ObtieneSensadoRangoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneSensadoRangoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtieneSensadoXEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneSensadoXEstado" />
  </wsdl:message>
  <wsdl:message name="ObtieneSensadoXEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneSensadoXEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaSensadoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaSensado" />
  </wsdl:message>
  <wsdl:message name="InsertaSensadoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaSensadoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaSensadoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaSensado" />
  </wsdl:message>
  <wsdl:message name="ActualizaSensadoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaSensadoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminaSensadoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminaSensado" />
  </wsdl:message>
  <wsdl:message name="EliminaSensadoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminaSensadoResponse" />
  </wsdl:message>
  <wsdl:portType name="SensorServicesSoap">
    <wsdl:operation name="ObtieneSensado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene valores de sensado de la BD</wsdl:documentation>
      <wsdl:input message="tns:ObtieneSensadoSoapIn" />
      <wsdl:output message="tns:ObtieneSensadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoRango">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene valores de sensado desde la BD</wsdl:documentation>
      <wsdl:input message="tns:ObtieneSensadoRangoSoapIn" />
      <wsdl:output message="tns:ObtieneSensadoRangoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoXEstado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene valores de sensado desde la BD</wsdl:documentation>
      <wsdl:input message="tns:ObtieneSensadoXEstadoSoapIn" />
      <wsdl:output message="tns:ObtieneSensadoXEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaSensado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta valores de sensado en la BD</wsdl:documentation>
      <wsdl:input message="tns:InsertaSensadoSoapIn" />
      <wsdl:output message="tns:InsertaSensadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaSensado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza valores de sensado en la BD</wsdl:documentation>
      <wsdl:input message="tns:ActualizaSensadoSoapIn" />
      <wsdl:output message="tns:ActualizaSensadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminaSensado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina valores de sensado en la BD</wsdl:documentation>
      <wsdl:input message="tns:EliminaSensadoSoapIn" />
      <wsdl:output message="tns:EliminaSensadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorServicesSoap" type="tns:SensorServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneSensado">
      <soap:operation soapAction="http://tempuri.org/ObtieneSensado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoRango">
      <soap:operation soapAction="http://tempuri.org/ObtieneSensadoRango" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoXEstado">
      <soap:operation soapAction="http://tempuri.org/ObtieneSensadoXEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaSensado">
      <soap:operation soapAction="http://tempuri.org/InsertaSensado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaSensado">
      <soap:operation soapAction="http://tempuri.org/ActualizaSensado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaSensado">
      <soap:operation soapAction="http://tempuri.org/EliminaSensado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorServicesSoap12" type="tns:SensorServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneSensado">
      <soap12:operation soapAction="http://tempuri.org/ObtieneSensado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoRango">
      <soap12:operation soapAction="http://tempuri.org/ObtieneSensadoRango" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneSensadoXEstado">
      <soap12:operation soapAction="http://tempuri.org/ObtieneSensadoXEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaSensado">
      <soap12:operation soapAction="http://tempuri.org/InsertaSensado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaSensado">
      <soap12:operation soapAction="http://tempuri.org/ActualizaSensado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaSensado">
      <soap12:operation soapAction="http://tempuri.org/EliminaSensado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SensorServices">
    <wsdl:port name="SensorServicesSoap" binding="tns:SensorServicesSoap">
      <soap:address location="http://localhost:23053/SensorServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SensorServicesSoap12" binding="tns:SensorServicesSoap12">
      <soap12:address location="http://localhost:23053/SensorServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>