Aplicaciones/MISEC.TemperaturaServices/MISEC.ISW.Temperatura.UI/App_WebReferences/UsuariosServices/UsuariosServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtieneUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ObtieneUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneUsuariosResult" type="tns:ArrayOfUsuarioDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuarioDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuarioDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nivel" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtieneUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtieneUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtieneUsuarioResult" type="tns:UsuarioDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Nivel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertaUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Nivel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaUsuarioResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nivel" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtieneUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneUsuarios" />
  </wsdl:message>
  <wsdl:message name="ObtieneUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtieneUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtieneUsuario" />
  </wsdl:message>
  <wsdl:message name="ObtieneUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtieneUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizaUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminaUsuario" />
  </wsdl:message>
  <wsdl:message name="EliminaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaUsuario" />
  </wsdl:message>
  <wsdl:message name="ValidaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuariosServicesSoap">
    <wsdl:operation name="ObtieneUsuarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene setpoints desde la BD</wsdl:documentation>
      <wsdl:input message="tns:ObtieneUsuariosSoapIn" />
      <wsdl:output message="tns:ObtieneUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene usuarios desde la BD</wsdl:documentation>
      <wsdl:input message="tns:ObtieneUsuarioSoapIn" />
      <wsdl:output message="tns:ObtieneUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta usuario en la BD</wsdl:documentation>
      <wsdl:input message="tns:InsertaUsuarioSoapIn" />
      <wsdl:output message="tns:InsertaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario en la BD</wsdl:documentation>
      <wsdl:input message="tns:ActualizaUsuarioSoapIn" />
      <wsdl:output message="tns:ActualizaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina usuario de la BD</wsdl:documentation>
      <wsdl:input message="tns:EliminaUsuarioSoapIn" />
      <wsdl:output message="tns:EliminaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida Usuario</wsdl:documentation>
      <wsdl:input message="tns:ValidaUsuarioSoapIn" />
      <wsdl:output message="tns:ValidaUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosServicesSoap" type="tns:UsuariosServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneUsuarios">
      <soap:operation soapAction="http://tempuri.org/ObtieneUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneUsuario">
      <soap:operation soapAction="http://tempuri.org/ObtieneUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <soap:operation soapAction="http://tempuri.org/InsertaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <soap:operation soapAction="http://tempuri.org/ActualizaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaUsuario">
      <soap:operation soapAction="http://tempuri.org/EliminaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaUsuario">
      <soap:operation soapAction="http://tempuri.org/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuariosServicesSoap12" type="tns:UsuariosServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneUsuarios">
      <soap12:operation soapAction="http://tempuri.org/ObtieneUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObtieneUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <soap12:operation soapAction="http://tempuri.org/InsertaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaUsuario">
      <soap12:operation soapAction="http://tempuri.org/ActualizaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaUsuario">
      <soap12:operation soapAction="http://tempuri.org/EliminaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaUsuario">
      <soap12:operation soapAction="http://tempuri.org/ValidaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosServices">
    <wsdl:port name="UsuariosServicesSoap" binding="tns:UsuariosServicesSoap">
      <soap:address location="http://localhost:23053/UsuariosServices.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuariosServicesSoap12" binding="tns:UsuariosServicesSoap12">
      <soap12:address location="http://localhost:23053/UsuariosServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>